.container {
display: flex;
flex-direction:column;
}

/* header */
.logo {
    display: flex;
}

.logo p {
    margin-top: 40px;
    font-size: 48px;
}
.logo img {
    max-width: 100px;
    height: auto;
    padding: 20px;
    margin-left: 20px;
}

.header {
    display: flex;
    justify-content:space-between;
}

.header-link {
    display: flex;
    padding: 5px;
}

a {
    margin: 10px;
    text-decoration: none;
}

/* hero */

.hero {
    display:flex;
    align-items: center;
    justify-content: center;
}

.hero-text {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.hero-text p {
    margin: 0px;
}

h1 {
    margin: 0px;
}

.hero button {
    align-self: center;
    width: 150px;
    margin-top: 40px;
    margin-left: -10px;
    padding: 5px;
}
.hero-image img{
    max-width: 800px;
    height: 450px;
    padding: 20px;
    margin-left: 80px;
}

/* info */

.info {
    text-align: center;
    justify-content: center;
}
.info-content {
    display: flex;
    justify-content: center;
    margin: 20px 50px;
}
.info img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin: 20px 50px;
}

.info p {
    margin: 20px 50px;
}
/* quote */

.quote {
    background: lightgray;
}
/* signup */

.signup {
    display: flex;
    flex: 1;
    align-items: center;
    margin: 40px 600px;
    padding: 25px 50px;
    background: cadetblue;
}

.signup-text p{
    margin: 0px;
}

h3 {
    margin: 0px;
}
.signup-button {
   padding: 15px 120px;
}

/* footer */

.footer {
background: #1F2937;
align-items: center;
text-align: center;
}